.contactForm{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: center;
}
.contactForm__title{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--color-myName);
}
.contactForm__form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 260px;
    width: 100%;
}
.contactForm__label{
    margin: 0.5rem;
    text-align: left;
}
.contactForm__input{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: transparent;
    color: var(--text-btn-color);
}
.contactForm__input:focus,
.contactForm__textarea:focus{
    outline: none;
}
.contactForm__textarea{
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    color: var(--text-btn-color);
}
.contactForm__btn{
    max-width: 300px;
    min-width: 260px;
    width: 95%;
    height: 2.5rem;
    border-radius: 15px;
    border: none;
    margin: auto;
    background-color: var(--bg-project-btn);
    transition: ease-in-out 0.3s;
}
.contactForm__btn:hover{
    background-color: var(--bg-project-btn-hover);
    transform: scale(1.03);
}

@media screen and (min-width: 1440px) {
    .contactForm__title{
     margin-bottom: 2.5rem;
    }
    .contactForm__label{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .contactForm__input{
        padding: 1rem;
    }
    .contactForm__form{
        max-width: 600px;
    }
    .contactForm__textarea{
      margin-bottom: 1.5rem
    }
    .contactForm__btn{
      max-width: 500px;
    }
}