.home__section{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.home{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home__greeting{
    font-size: 1.7rem;
    color: var(--bg-color-contact);
}
.home__my_name{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-myName);
    margin: 0.5rem 0;
}
.home__profesion{
    font-size: 2rem;
    margin-bottom: 0.7rem;
    display: block;
    white-space: nowrap;
    border-right: 3px solid;
    width: 19ch;

    animation: typing 2s steps(19),
                blink 0.5s infinite step-end alternate ;
    overflow: hidden;
}
@keyframes typing {
    from {width: 0;}
}
@keyframes blink {
    50% {border-color:transparent ;}
}
.home__profesion_decoration{
    font-size: 2rem;
    color: var(--color-myName);
}
.home__description{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.3;
    letter-spacing: 1px; 
}

.home__contact_list{
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    padding-right:2rem;
}
.home__contact_a{
    background-color: var(--bg-color-contact);
    padding: 0.7rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.home__contact_a:hover{
    background-color: var(--bg-color-contact-hover);
}
.bxl-linkedin,
.bxl-github,
.bx-envelope{
    font-size: 1.5rem;
    vertical-align: sub;
}   
.home__avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-left: 2rem;
}
.avatar_img{
    max-width: 380px;
    width: 100%;
    aspect-ratio: 1;
    max-width: 400px;
    max-height: 400px;
}
@media screen and (min-width:1500px){
    .home__description,
    .home__greeting{
        font-size: 2.2rem;
    }
    .home__my_name{
        font-size: 3.5rem;
    }
    .home__profesion{
        font-size: 3rem;
    }
}
@media screen and (max-width:1260px) {
    .home__contact_list{
        justify-content: center;
    }
}
@media screen and (max-width:985px) {
    
    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home__my_name{
        text-align: center;
    }
    .home__contact_list{
        padding-right: 0;
    }
    .home__avatar{
        width: 280px;
        margin: 1.5rem auto;
        padding-bottom: 2rem;
    }
    .home__section{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width:500px){
    .home{
        max-width:380px;
        width: 90%;
    }
    .home__profesion,
    .home__profesion_decoration{
        font-size: 1.3rem;
    }
    .home__description{
        margin-top: 1.5rem;
        font-size: 1.1rem;
        max-width: 50ch;
        width: 90%;
    }
    .home__contact_list{
        gap: 2.5rem;
    }
    .home__avatar{
        padding: 1rem;
    }
    
}