.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    height: var(--height-nav);
    width: 100vw;
    background-color: var(--nav-color);
}
.nav__logo__container{
    width: 50px;
    height: 150px;
}
.nav__logo{
    height: 100%;
}
.nav__bars{
    display: none;
}
.nav__bars_line{
    width: 1.8rem;
    height: 3px;
    background-color: var(--bars-color);
    margin: 6px 0;
}
.nav__navigation{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__list_a{
    margin-right: 3rem;
    transition: 0.3s ease-in-out;
}
.nav__list_a:hover{
    color: var(--bg-color-contact);
}

@media screen and (max-width:1065px){
    .nav__list_a{
        margin-right: 2rem;
    }
    .nav__list_technologies{
        display: block;
    }
}


@media screen and (max-width:767px) {
    .nav{
        justify-content: space-around;
    }
    .nav__bars{
        display: block;
        cursor: pointer;
    }
    .nav__navigation {
        height: calc(100vh - var(--height-nav));
        position: absolute;
        top: 4rem;
        left: -100%;
        right: 0;
        width: 100%;
        background-color: var(--nav-color);
        transition: 0.5s ease-in-out;
        padding: 1rem;
        flex-direction: column;
        text-align: center;
    }
    .nav__list {
        justify-content: space-between;
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }
    .nav__navigation-active{
        left: 0; 
    }
    .nav__list_a{
        margin-right: 0;
        font-size: 1.5rem;
    }
}