@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

:root{
  /* COLORS */
  --bg-color: #020e1b;  
  --text-color: #ffffff;
  --nav-color: #042546;
  --bars-color: #ffffff;
  --bg-color-contact: #a5043a;
  --bg-color-contact-hover: #f08080;
  --color-myName: #64ffda;
  --color-btn-technologies: #4df8d0;
  --bg-project-card-color: #052341;
  --text-btn-color: #000000;
  --bg-project-btn: #f08080;
  --bg-project-btn-hover: #ff9090;
  --bg-footer: #333030;

  /* measures */
  --height-nav: 4rem;
  --sections-separation: 5rem;
  --padding-x: 7rem;
  --padding-x-sm: 2.5rem;
  --padding-x-xs: 1rem;

  /* scrollbar */
  ::-webkit-scrollbar {
    width: 12px; 
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--bg-project-card-color); 
    border-radius: 6px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--color-btn-technologies); 
  }
}
html {
  scroll-behavior: smooth;
}
*{
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var( --text-color);
  font-family: 'Lato', sans-serif;
}
button{
  cursor: pointer;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
